html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    font-family: 'Roboto', sans-serif;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

body {
    margin: 0 auto;
    font-family: Roboto;
    font-size: 18px;
    color: white;
}

.container_for_all {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}

@media (max-width: 1024px) {
    .container_for_all{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container_for_all{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .container_for_all{
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .container_for_all{
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .container_for_all{
        max-width: 320px;
        margin: 0 auto;
    }
}

.all-container {
    max-width: 1920px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
   
}

@media (max-width: 1024px) {
    .all-container{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .all-container{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .all-container{
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .all-container{
        max-width: 375px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .all-container{
        max-width: 100%;
        margin: 0 auto;
        background-color:rgb(0,0,0);
    }
}

.shadow-container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 10px 24px 10px rgba(63, 46, 46, 0.2);
}

@media (max-width: 1024px) {
    .shadow-container{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .shadow-container{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .shadow-container{
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .shadow-container{
        max-width: 375px;
    }
}


@media (max-width: 320px) {
    .shadow-container{
        max-width: 320px;
        margin: 0 auto;
        box-shadow: none
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    background-color: rgb(98, 100, 159);
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 768px;
       
    }
}

@media (max-width: 540px) {
    .wrapper {
        max-width: 540px;
       
    }
}

@media (max-width: 375px) {
    .wrapper {
        max-width: 375px;
       
    }
}

@media (max-width: 320px) {
    .wrapper {
        max-width: 320px;
       
    }
}

.header_wrapper {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
 
}

@media (max-width: 1024px) {
    .header_wrapper{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .header_wrapper{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .header_wrapper{
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .header_wrapper{
        max-width: 375px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .header_wrapper{
        max-width: 320px;
        margin: 0 auto;
    }
}

.header_list {
    list-style: none;
    max-width: 1160px;
    display: flex;
    height: 80px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

@media (max-width: 1024px) {
    .header_list{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .header_list{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .header_list{
        max-width: 540px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 2;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .header_list{
        max-width: 375px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 2;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .header_list{
        max-width: 320px;
        display: flex;
        flex-direction: column;
        line-height: 2;
        margin: 0 auto;
        font-size: 20px;
    }
}

.header_item {
    margin-left: 80px;
}

.header_item:first-child {
    margin-left: 0px;
}
@media (max-width: 1024px) {
    .header_item {
        margin-left: 62px;
    }
}

@media (max-width: 768px) {
    .header_item {
        margin-left: 26px;
    }
}

@media (max-width: 540px) {
    .header_item {
        width: 100%;
        margin-right: 0px;
    }
}

@media (max-width: 375px) {
    .header_item {
        width: 100%;
        margin-right: 0px;
    }
}

@media (max-width: 375px) {
    .header_item {
        width: 100%;
    }
}

.header_nav {
    width: 1200px;
}

@media (max-width: 540px) {
    .header_nav {
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       background-color:rgb(20, 21, 48);
       z-index: 10;
       color: #83898F;
       padding: 20px;
       transform:translateX(100%);
    }
}

@media (max-width: 375px) {
    .header_nav {
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       background-color:rgb(20, 21, 48);
       z-index: 10;
       color: #83898F;
       padding: 20px;
       transform:translateX(100%);
    }
}

@media (max-width: 320px) {
    .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(20, 21, 48);
    z-index: 10;
    color: #83898F;
    padding: 20px;
    transform:translateX(100%);
    }
}

@media (max-width: 540px) {
    .header_nav-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
}

@media (max-width: 375px) {
    .header_nav-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
}

@media (max-width: 540px) {
    .header_nav-close-line {
        width: 100%;
        display: block;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
    }

    .header_nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}

.header_link {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .header_link{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header_link{
        font-size: 18px;
    }
}

.header_link:hover, .header_link:focus, .header_link:active   {
    color: crimson;
    text-decoration: underline;
    transition: 00.3s;
}

.header_link:active {
    color:red
}

.header_link :last-child {
    margin-right: 20px;
}

.all-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.header_burger{
    display: none;
   
}

@media (max-width: 1024px) {
    .header_burger {
        display: none;
    }
}

@media (max-width: 768px) {
    .header_burger {
        display: none;
    }
}

@media (max-width: 540px) {
    .header_burger {
    display: block;
    width: 22px;
    height: 12px;
    position: relative;
    margin-left: 20px;
    margin-top: 34px;

    }
}

@media (max-width: 375px) {
    .header_burger {
    display: block;
    width: 22px;
    height: 12px;
    position: relative;
    margin-left: 20px;
    margin-top: 34px;

    }
}

@media (max-width: 320px) {
    .header_burger{
    display: block;
    width: 22px;
    height: 12px;
    position: relative;
    margin-left: 10px;
    margin-top: 34px;

    }
}

.burger_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}
.burger_line_first {
    top: 0;
}
.burger_line_second {
    bottom: 0;
}

@media (max-width: 540px) {
    .header_nav_active{
        width: 540px;
    transform:translateX(0);
    transition: .2s all linear;

    }
}

@media (max-width: 375px) {
    .header_nav_active{
        width: 375px;
    transform:translateX(0);
    transition: .2s all linear;

    }
}

@media (max-width: 320px) {
    .header_nav_active{
        width: 320px;
    transform:translateX(0);
    transition: .2s all linear;

    }
}

/*Конец стилей header*/

@media (max-width: 1024px) {
    .all-wrapper{
        max-width: 1024px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .all-wrapper{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .all-wrapper{
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .all-wrapper{
        max-width: 375px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .all-wrapper{
        max-width: 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

.left-side {
    max-width: 33%;
    height: 2200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .left-side {
        max-width: 33%;
        padding: 20px;
        height: 2160px;
    }
}

@media (max-width: 768px) {
    .left-side {
        max-width: 39%;
        padding: 20px;
        height: 3200px;
    }
}

@media (max-width: 540px) {
    .left-side {
        max-width: 39%;
        padding: 20px;
        height: 3200px;
    }
}

@media (max-width: 375px) {
    .left-side {
        max-width: 100%;
        height: 1000px;
    }
}

@media (max-width: 320px) {
    .left-side {
        max-width: 100%;
        height: 950px;
        padding: 10px;
    }
}

#aboutme {
    text-align: left;
    color: white;
}
.about_me {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .about_me {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .about_me {
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .about_me {
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .about_me {
        max-width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .about_me {
        max-width: 100%;
        font-size: 14px;
    }
}

.name_photo_wrapper {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .name_photo_wrapper{
        max-width: 250px;
    }
}

@media (max-width: 768px) {
    .name_photo_wrapper{
        max-width: 250px;
    }
}

@media (max-width: 540px) {
    .name_photo_wrapper{
        max-width: 100%;
    }
}

.photo-container {
    width: 360px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 1024px) {
    .photo-container {
        width: 250px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .photo-container {
        width: 250px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .photo-container {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .photo-container {
        width: 250px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .photo-container {
        width: 250px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}

.photo {
    width: 300px;
    border-radius: 50%;
    margin-top: 30px;
}

@media (max-width: 1024px) {
    .photo{
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .photo{
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 540px) {
    .photo{
        max-width: 170px;
        height: 170px;
    }
}

@media (max-width: 375px) {
    .photo{
        max-width: 250px;
        height: 250px;
    }
}

@media (max-width: 320px) {
    .photo{
        max-width: 200px;
        height: 200px;
        text-align: center;
        
    }
}

.name {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
 h1 {
     font-size: 30px;
     color:rgb(20, 21, 48);
     text-align: center;
 }

 @media (max-width: 768px) {
    h1{
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    h1{
        font-size: 22px;
    }
}

 h2 {
    font-size: 22px;
    color: rgb(20, 21, 48);
    text-align: left;
 }

 .description-header {
     margin-top: 0px;
     color:  rgb(20, 21, 48);
 }

 @media (max-width: 768px) {
    .description-header{
        font-size: 18px;
    }
}

@media (max-width: 540px) {
    .description-header{
        font-size: 16px;
        text-align: center;
    }
}

 .skills {
     color: rgb(20, 21, 48);
 }

 @media (max-width: 1024px) {
    .skills{
        max-width: 100%;
    }
}


 @media (max-width: 768px) {
    .skills{
        max-width: 100%;
    }
}

@media (max-width: 375px) {
    .skills{
        max-width: 100%;
        padding: 0px;
    }
}

@media (max-width: 320px) {
    .skills{
        max-width: 100%;
        padding: 0px;
    }
}

 .skills-list {
     padding-left: 0px;
     color:  rgb(20, 21, 48);
 }
 .right-side {
    max-width: 67%;
    height: 2200px;
    background-color: rgb(20, 21, 48);
    padding: 20px;
 }

 @media (max-width: 768px) {
    .right-side{
        max-width: 61%;
        height: 3200px;
    }
}

@media (max-width: 540px) {
    .right-side{
        max-width: 61%;
        height: 3200px;
    }
}

@media (max-width: 375px) {
    .right-side{
        max-width: 100%;
        height: 3130px;
    }
}

@media (max-width: 320px) {
    .right-side{
        max-width: 100%;
        height: 3100px;
        padding: 10px;
    }
}
 .about_me {
    max-width: 1200px;
    margin: 0 auto;
 }

 .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 85px;
    background-color: rgb(0, 0, 0);
 }

 @media (max-width: 768px) {
    .footer-container{
        max-width: 100%;
        height: 85px;
    }
}

@media (max-width: 540px) {
    .footer-container{
        max-width: 100%;
        height: 85px;
    }
}

@media (max-width: 375px) {
    .footer-container{
        max-width: 100%;
        height: 150px;
    }
}

@media (max-width: 320px) {
    .footer-container{
        max-width: 100%;
        height: 150px;
    }
}

.projects {
    margin-top: 30px;
    max-width: 100%;
}

.line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .line {
        width: 100%;
        height: 2px;
     
    }
}

@media (max-width: 540px) {
    .line {
        width: 100%;
        height: 2px;
     
    }
}

@media (max-width: 375px) {
    .line {
        width: 100%;
        height: 2px;
     
    }
}

@media (max-width: 320px) {
    .line {
        width: 100%;
        height: 2px;
     
    }
}

.line-short {
    width: 360px;
    height: 2px;
    background-color: rgb(20, 21, 48);
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .line-short {
        width: 100%;
        height: 2px;
        background-color: rgb(20, 21, 48);
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .line-short {
        width: 100%;
        height: 2px;
        background-color: rgb(20, 21, 48);
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .line-short {
        width: 100%;
        height: 2px;
        background-color: rgb(20, 21, 48);
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .line-short {
        width: 100%;
        height: 2px;
        background-color: rgb(20, 21, 48);
        margin-bottom: 20px;
    }
}

.projects_links {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

@media (max-width: 768px) {
    .projects_links {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    }
}

@media (max-width: 375px) {
    .projects_links {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    }
}


@media (max-width: 320px) {
    .projects_links {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    }
}

.project {
    width: 100%;
}

@media (max-width: 768px) {
    .project  {
    width: 100%;
    }
}

@media (max-width: 540px) {
    .project  {
    width: 100%;
    }
}

@media (max-width: 375px) {
    .project  {
    width: 100%;
    }
}

@media (max-width: 320px) {
    .project  {
    width: 100%;
    }
}

.museum, .momentum, .cssMemSlider, .login_register {
    max-width: 100%;
    margin: 0 auto;
}

.museum, .momentum, .cssMemSlider, .login_register :hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .museum, .momentum, .cssMemSlider, .login_register  {
    max-width: 100%;
    margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .museum, .momentum, .cssMemSlider, .login_register  {
    max-width: 100%;
    margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .museum, .momentum, .cssMemSlider, .login_register  {
    max-width: 100%;
    margin: 0 auto;
    }
}

.project_text {
    text-align: left;
    line-height: 1.5;
}
.description {
    background-color: rgb(156, 4, 27);
    padding: 2px 5px;
    border-radius: 2px;
}

 .contacts-left {
     list-style: none;
     line-height: 2;
     padding-left: 0px;
     color: rgb(20, 21, 48);
 }

 .contacts-sidebar {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
 }
 
 @media (max-width: 1024px) {
    .contacts-sidebar {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        background-color: white;
    }
}

 @media (max-width: 768px) {
    .contacts-sidebar {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        background-color: white;
    }
}

@media (max-width: 540px) {
    .contacts-sidebar {
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        background-color: white;
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .contacts-sidebar {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .contacts-sidebar {
        width: 100%;
    }
}

 .footer-phone, .footer-email  {
     text-decoration: none;
     color: #ffffff;
 }

 @media (max-width: 768px) {
    .footer-phone, .footer-email {
        text-decoration: none;
    }
}

.footer-link {
    color: #ffffff;
    
}

@media (max-width: 768px) {
    .footer-link {
      font-size: 16px;
    
    }
}

.footer-link:hover {
    color: crimson;
    text-decoration: underline;
    transition: 00.3s;
}

.contact-link {
    color:rgb(0, 0, 0)
}


@media (max-width: 768px) {
    .footer-rssschool {
        width: 70px;
    
    }
}

.hljs {
    max-width: 760px;
    text-align: left;
}

@media (max-width: 768px) {
    .hljs {
        width: 100%;
    
    }
} 

@media (max-width: 375px) {
    .hljs {
        width: 100%;
    }
} 

@media (max-width: 320px) {
    .hljs {
        width: 100%;
    }
} 

.footer-contacts  {
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
@media (max-width: 768px) {
    .footer-contacts {
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    }
}

@media (max-width: 375px) {
    .footer-contacts {
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    line-height: 1.8;
   
    }
}

@media (max-width: 320px) {
    .footer-contacts {
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 2;
    }
}


